$rocketRed: #DF0000;
$primary: $rocketRed;
$white: #fff;
$whiteText: rgba(255,255,255,0.86);
$whiteBorder: rgba(255,255,255,0.6);
$black: #000;
$blackBorder: rgba(0,0,0,0.6);
$blackText: rgba(0,0,0,.86);
$red: #f00;
$redBorder: rgba(255,0,0,0.6);
$redText: rgba(255,0,0,0.86);
$errorText: #a00;
$successText: #070;